<div class="container">
  <h1 style="text-align: center;">BLOOD CELL COUNT</h1>
  <br><br><br><br>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-3">
      <!-- <div class="card"> -->
        <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="submit()">
            <h3>Insert Image here:</h3>
            <div class="form-group">
                <input formControlName="file" id="file" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
                <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
                </div>
            </div>
            <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
            <button class="btn" type="submit">Submit</button>
        </form>
        </div>
      <!-- </div> -->
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <!-- <div class="card"> -->
        <div class="card-body">
        <!-- <form [formGroup]="myForm" (ngSubmit)="submit()"> -->
          <h3>Result</h3>
        <!-- </form> -->
        </div>
      <!-- </div> -->
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
